[submodule "EECS-E4750-Parallelized-Stock-Market-Prediction-with-NLP"]
	path = EECS-E4750-Parallelized-Stock-Market-Prediction-with-NLP
	url = https://github.com/saribe0/EECS-E4750-Parallelized-Stock-Market-Prediction-with-NLP.git
